{% extends "AlexaHandler/base.html" %}
{% load static %}

{% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        html{
            min-height:100%;/* make sure it is at least as tall as the viewport */
            position:relative;
        }
        body {
            height:100%;
        }
        .draggable { width: 150px;
            height: 150px;
            padding: 0.5em;
            position:absolute;
            z-index: 10;
        //overflow : hidden;
        }

        #bar {
            padding-left: 1em;
            display:block;
            overflow:auto;
            height: 20vh;
            width: 80vw;
            top: 0;
            left: 0;
            background-color: #f7f3ff;
        }

        #plumbing_block {
            padding-left: 1em;
            display:block;
        //overflow:hidden;
            height: 80vh;
            width: 80vw;
            left: 0;
            top: 20vh;
            background-color: #f7fff0;
        }

        #opt-bar {
            overflow:auto;
            position:absolute;
            height:100vh;
            width: 20vw;
            left: 80vw;
            top: 0;
            background-color: #ffcad6;
        }

        h2 {
            padding-left: 10%;
        }
        img {
            max-width:100%;
        }
        .window { z-index:20; }
        .jtk-connector { z-index:4; }
        .jtk-endpoint { z-index:11; }
        .jtk-overlay { z-index:12; }

        p.speech {
            position: absolute;
            top: 0px;
            padding-left: 1px;
            padding-right: 1px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            background-color: #fff;
            border: 2px solid #666;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 2px 2px 4px #888;
            -moz-box-shadow: 2px 2px 4px #888;
            box-shadow: 2px 2px 4px #888;
            font-size:.6vw;
            overflow: hidden;
            display:inline-block;
        }

        .content {
            overflow:hidden;
        }

        .opts {
            left: 140px;
            overflow:visible;
            cursor: pointer;
        }

        p.num {
            width: 20px;
            top: 140px;
            left: -12px;
        }
    </style>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- material design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- local files -->
    <script src="{% static "AlexaHandler/jsplumb.min.js" %}"></script>
    <script src="{% static "AlexaHandler/reconnecting-websocket.min.js" %}"></script>

    <!-- check for jquery -->
    <script type="text/javascript">

        (function defer() {
            if (window.jQuery) {
                //alert("jQuery loaded");
            } else {
                console.log("check");
                setTimeout(function() { defer() }, 50);
            }
        })();

    </script>

    <!-- socket and block scripts -->
    <script type="text/javascript">
        console.log("in local script");
        //
        //alert("my own");
        window.onload = function()
        {
            if (!window.jQuery) {
                alert('jQuery is not loaded');
            }
        }

        var plumbing = jsPlumb.getInstance();
        var last_name = "";
        var grid_count = 0;
        var width = $(window).width()*.8;
        var height = $(window).height();
        var xStep = 220;
        var yStep = 220;
        var xGrid = Math.floor( (width)/xStep);
        var init = true;

        plumbing.importDefaults({
            ConnectionsDetachable:false,
            ReattachConnections:true
        });
        // make containment specific

        var dynamicAnchors = ["Left", "Right", "Top", "Bottom"];

        var common = {detachable:false,
            anchor:dynamicAnchors,
            connector: ["Bezier", {
                curviness:50,
            }],
            endpoint:[ "Rectangle", {
                cssClass:"myEndpoint",
                width:10,
                height:10
            }],};

        function new_plumb(){
            //jsPlumb block
            console.log("new_plumb started");
            plumbing.draggable($(".draggable"), {
                containment:"plumbing_block"
            });
        }

        // LOCAL VERSION
        var socket = new ReconnectingWebSocket("ws://localhost:8000/alexa/");
        // SERVER VERSION
        //var socket = new ReconnectingWebSocket("wss://talktoyourdata.upc.edu/alexa/");
        //alert(socket.readyState);
        socket.debug = true;
        var msg_count = 0;
        var block_count = 0;

        function new_block(data){
            console.log("update called");
            console.log("JSON", data);
            name = "draggable_" + "block" + block_count;
            block_count += 1;
            console.log(xGrid, grid_count);
            yOff = height*.2;
            xOff = 20;
            var div = document.createElement("div");
            div.id = name;
            div.className = "draggable ui-widget-content";
            div.style = "left: " + (((grid_count % xGrid) * xStep) + xOff) + " ; top: " + (yOff + Math.floor(grid_count / xGrid) * yStep);
            if (data.block_type == "message"){
                var p = document.createElement("p");
                p.className = "content";
                p.appendChild(document.createTextNode(data.block_type));
                p.appendChild(document.createElement("br"));
                p.appendChild(document.createTextNode(data.block_id));
                p.appendChild(document.createElement("br"));
                p.appendChild(document.createTextNode(data.msg));
                div.appendChild(p);
            }
            else if (data.block_type == "image") {
                var img = document.createElement("img");
                img.src = data.call_path;
                div.appendChild(img);
            }
            else if (data.block_type == "histogram") {
                var img = document.createElement("img");
                img.src = data.call_path;
                div.appendChild(img);


















            }
            else {
                console.log(data);
            }
            // add options
            var top = 0;
            for(opt = 0; opt < data.options.length; opt++){
                console.log(data.options[opt]);
                var p = document.createElement("p");
                p.className = "speech opts";
                p.style = "top: " + top + "px";
                p.appendChild(document.createTextNode(data.options[opt]));
                top += 40;
                div.appendChild(p);
                $(p).click(function() {
                    $( this ).effect("highlight", {}, 500);
                });
            }
            // number
            var p = document.createElement("p");
            p.className = "speech num";
            p.appendChild(document.createTextNode(grid_count));
            div.appendChild(p);
            var par = document.getElementById("plumbing_block");
            $(par).append(div);
            // TODO material design grid fail
            //document.getElementById("plumbing_block").innerHTML += "<div id=" + name + " class='mdl-cell draggable ui-widget-content'>" + data.block_type + "<p>" + data.block_id + "<br>" + data.msg + "</p></div>";
            //componentHandler.upgradeElement(document.getElementById(name));

            //par.innerHtml = "<p>" +  data.block_type + "<br>" + data.block_id + "<br>" + data.msg + "</p>";
            console.log("name", name);
            //document.getElementById(name).innerHtml += "<p>" + data.block_id + "<br>" + data.msg + "</p>";
            grid_count += 1;

            if(last_name != "") {
                plumbing.connect({
                    source: last_name,
                    target: name,
                }, common);
            }
            last_name = name;

            // refresh clickable


        }

        function reset(){
            plumbing.empty("plumbing_block");
            last_name = "";
            grid_count = 0;
            block_count = 0;
        }

        function send_reset(){
            socket.send(JSON.stringify({"type" : "command", "cmd" : "del_all"}));
        }

        function send_populate(){
            socket.send(JSON.stringify({"type" : "histogram", "msg" : "message content"}));
        }

        function send_image_populate(){
            socket.send(JSON.stringify({"type" : "command", "cmd" : "img"}));
        }

        function light_up(data){
            name = "draggable_block" + data.block_id;
            $( "#" + name ).effect("highlight", {}, 3000);
        }

        function showBlock(data) {
            window.open(data.call_path);
        }

        socket.onmessage = function(e) {
            console.log(e.data);
            data = JSON.parse(e.data);
            console.log(data.type);

            // maybe somewhere else


            if (data.type == "block") {
                if(init){
                    init = false;
                    document.getElementById("plumbing_block").innerHTML = "";
                }
                new_block(data);
            }
            else if (data.type == "cmd") {
                if(data.cmd == "reset"){
                    reset();
                }
                else if(data.cmd == "ready") {
                    if(init)
                        socket.send(JSON.stringify({"type": "command", "cmd": "init"}));
                }
                else if(data.cmd == "init_done") {
                    init = false;
                    document.getElementById("plumbing_block").innerHTML = "";
                }
                else if(data.cmd == "light_up") {
                    light_up(data);
                }
                else if(data.cmd == "show"){
                    showBlock(data);
                }
            }

            plumbing.draggable($(".draggable") , {
                containment:"plumbing_block"
            });

        }

        socket.onopen = function(e){
            console.log("socket is open");
        };


    </script>
{% endblock %}

{% block body %}


    <div id = "bar">
        <h1> LIVE ALEXA Test</h1>
        <!-- Accent-colored raised button with ripple -->
        <button onclick="send_reset()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
            Reset
        </button>
        <button onclick="send_populate()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Populate
        </button>
        <button onclick="send_image_populate()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">add</i>
        </button>
    </div>


    <div id ="plumbing_block">
        <!-- MDL Progress Bar with Indeterminate Progress -->

        <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="top:30%; left: 20%"></div>

    </div>

    <div id = "opt-bar">
        <h2> opt-bar </h2>
    </div>


{% endblock %}
