{% extends "AlexaHandler/base.html" %}
{% load static %}

{% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        html{
            min-height:100%;/* make sure it is at least as tall as the viewport */
            position:relative;
        }
        body {
            height:100%;
        }
        .draggable { width: 150px;
            height: 150px;
            adding: 0.5em;
            position:absolute;
            z-index: 10;
            overflow : hidden;}

        #plumbing_block {
            display:block;
            overflow:hidden;
            height: 100vh;
            left: 0;
            top: 20%;
            right: 0;
            bottom: 0;
            background-color: #f7fff0;
        }

        #bar {
            display:block;
            overflow:auto;
            height: 20%;
            width: 100%;
            top: 0%;
            left: 0%;
            background-color: #f7f3ff;
        }

        img {
            max-width:100%;
        }
        .window { z-index:20; }
        .jtk-connector { z-index:4; }
        .jtk-endpoint { z-index:11; }
        .jtk-overlay { z-index:12; }

        #content { width: 150px; height: 150px; padding: 0.5em; }
    </style>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- material design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- local files -->
    <script src="{% static "AlexaHandler/jsplumb.min.js" %}"></script>
    <script src="{% static "AlexaHandler/reconnecting-websocket.min.js" %}"></script>

    <script type="text/javascript">

        (function defer() {
            if (window.jQuery) {
                //alert("jQuery loaded");
            } else {
                console.log("check");
                setTimeout(function() { defer() }, 50);
            }
        })();

    </script>

    <script type="text/javascript">
        console.log("in local script");
        //
        //alert("my own");
        window.onload = function()
        {
            if (!window.jQuery) {
                alert('jQuery is not loaded');
            }
        }

        var plumbing = jsPlumb.getInstance();
        var last_name = "";
        var grid_count = 0;
        var width = $(window).width();
        var height = $(window).height();
        var xGrid = Math.floor((width-150)/200);
        var init = true;

        plumbing.importDefaults({
            ConnectionsDetachable:false,
            ReattachConnections:true
        });
        // make containment specific

        var dynamicAnchors = ["Left", "Right", "Top", "Bottom"];

        var common = {detachable:false,
            anchor:dynamicAnchors,
            connector: ["Bezier", {
                curviness:50,
            }],
            endpoint:[ "Rectangle", {
                cssClass:"myEndpoint",
                width:10,
                height:10
            }],};

        function new_plumb(){
            //jsPlumb block
            console.log("new_plumb started");
            plumbing.draggable($(".draggable"), {
                containment:"plumbing_block"
            });
        }

        var socket = new ReconnectingWebSocket("wss://talktoyourdata.upc.edu/alexa/");
        //alert(socket.readyState);
        socket.debug = true;
        var msg_count = 0;
        var block_count = 0;

        function new_block(data){
            console.log("update called");
            console.log("JSON", data);
            name = "draggable_" + "block" + block_count;
            block_count += 1;
            console.log(xGrid, grid_count);
            yOff = height*.2;
            xOff = 20;
            if (data.block_type == "message") {
                document.getElementById("plumbing_block").innerHTML += "<div id=" + name + " class='draggable ui-widget-content' style='left: " + (((grid_count % xGrid) * 200) + xOff) + " ; top: " + (yOff + Math.floor(grid_count / xGrid) * 200) + "'>" + data.block_type + "<p>" + data.block_id + "<br>" + data.msg + "</p></div>";
            }
            else if (data.block_type == "image") {
                var div = document.createElement("div");
                div.id = name;
                div.className = "draggable ui-widget-content";
                div.style = "left: " + (((grid_count % xGrid) * 200) + xOff) + " ; top: " + (yOff + Math.floor(grid_count / xGrid) * 200);
                var img = document.createElement("img");
                img.src = data.call_path;
                div.appendChild(img);
                var par = document.getElementById("plumbing_block");
                par.append(div);
            }
            else {
                console.log(data);
            }
            // TODO material design grid fail
            //document.getElementById("plumbing_block").innerHTML += "<div id=" + name + " class='mdl-cell draggable ui-widget-content'>" + data.block_type + "<p>" + data.block_id + "<br>" + data.msg + "</p></div>";
            //componentHandler.upgradeElement(document.getElementById(name));

            //par.innerHtml = "<p>" +  data.block_type + "<br>" + data.block_id + "<br>" + data.msg + "</p>";
            console.log("name", name);
            //document.getElementById(name).innerHtml += "<p>" + data.block_id + "<br>" + data.msg + "</p>";
            grid_count += 1;

            if(last_name != "") {
                plumbing.connect({
                    source: last_name,
                    target: name,
                }, common);
            }
            last_name = name;
        }

        function reset(){
            plumbing.empty("plumbing_block");
            last_name = "";
            grid_count = 0;
            block_count = 0;
        }

        function send_reset(){
            socket.send(JSON.stringify({"type" : "command", "cmd" : "del_all"}));
        }

        function send_populate(){
            socket.send(JSON.stringify({"type" : "msg", "msg" : "msg"}));
        }

        function send_image_populate(){
            socket.send(JSON.stringify({"type" : "command", "cmd" : "img"}));
        }

        socket.onmessage = function(e) {
            console.log(e.data);
            data = JSON.parse(e.data);
            console.log(data.type);

            if(init){
                init = false;
                document.getElementById("plumbing_block").innerHTML = "";
            }

            if (data.type == "block") {
                new_block(data);
            }
            else if (data.type == "reset") {
                reset();
            }

            plumbing.draggable($(".draggable") , {
                containment:"plumbinb_block"
            });

        }

        socket.onopen = function(e)
        {
            //alert(socket.readyState);
            if(init) {
                // get inital
                socket.send(JSON.stringify({"type": "command", "cmd": "init"}));
            }
        };


    </script>
{% endblock %}

{% block body %}

    <div id = "bar">
        <h1> LIVE ALEXA Test</h1>
        <!-- Accent-colored raised button with ripple -->
        <button onclick="send_reset()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
            Reset
        </button>
        <button onclick="send_populate()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Populate
        </button>
        <button onclick="send_image_populate()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">add</i>
        </button>

    </div>


    <div id ="plumbing_block" class="mdl-grid">
        <!-- MDL Progress Bar with Indeterminate Progress -->

            <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="top:30%; left: 20%"></div>

    </div>

{% endblock %}
